@font-face{
    font-family: WAKANDA;
    src: url("../ft/BEYNO.ttf");
    font-weight: bold;
}

@font-face{
    font-family: Lovelo;
    src: url("../ft/Lovelo-Black.ttf");
    font-weight: bold;
}

@font-face{
    font-family: Bf;
    src: url("../ft/BeautifulPeoplePersonalUse-dE0g.ttf");
    font-weight: bold;
}


@font-face{
    font-family: GL;
    src: url("../ft/Glint\ Black.otf");
    font-weight: bold;
}

.gl{font-family: GL;}
.bf{font-family: Bf;}
.lv{font-family: Lovelo;}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Gl;
    background-color: rgb(59, 55, 55);
    color: white;
}

section.master{
    width: 100%;
    min-height: 100vh;
    padding: 50px 10%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .info{
    padding-bottom: 100px;
} */

.title{
    font-size: 60px;
    position: relative;
    color: rgb(255, 136, 0);
    font-weight: 900;
    animation: shadow 2s infinite ease-in-out;
}

@keyframes shadow{
    0% {
        text-shadow: 0px 0px 20px rgb(55, 0, 255);
    }

    50% {
        text-shadow: 0px 0px 5px rgb(0, 255, 106);
        color: yellow;
    }

    100% {
        text-shadow: 0px 0px 20px rgb(55, 0, 255);
    }
}

.title{
    position: relative;
}

.title span:first-child{
    font-size: 20px;
    position: absolute;
    bottom: 80px;
    left: 0; right: 0;
    align-self: center;
    color: white;
    z-index: 2;
}

.title span.lv{
    display: inline-block;
    font-size: 40px;
    position: absolute;
    bottom: -30px;
    left: 0; right: 0;
    align-self: center;
    color: white;
    z-index: -1;
    transform-origin: bottom;
}

.char2{
    transform: rotate(6deg);
}
.char3{
    transform: rotate(9deg);
    font-size: 45px;
}
.char4{
    transform: rotate(12deg);
    font-size: 55px;
}
.char5{
    transform: rotate(15deg);
    font-size: 70px;
}
.char6{
    transform: rotate(18deg);
    font-size: 55px;
}
.char7{
    transform: rotate(21deg);
    font-size: 45px;
}
.char8{
    transform: rotate(21deg);
}

.images{
    position: relative;
}








.btnDown{
    position: fixed;
    bottom: 50px;
    bottom: 10px;
    left: 0; right: 0;
    align-self: center;
    align-content: center;
    text-align: center;
}

.arrow{
    display: block;
    background-color: white;
    color: black;
    font-family: Gl;
    transform: rotate(90deg);
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    align-content: center;
    font-size: 40px;
}

.btnDown a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 255, 13);
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    color: rgb(29, 29, 29);
    margin: 10px;
    align-self: center;
    box-shadow: 0px 0px 10px 5px rgb(88, 117, 117);
}

.btnDown a:hover{
    text-decoration: none;
    background-color: teal;
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    transition: ease-in-out .5s;
}
